@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Baloo 2", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
header {
  height: 5vh;
}
main {
  width: 90vw;
  margin-left: 5vw;
}

/* top-part */

#top-part {
  display: flex;
}

/* top-left */

#top-part-left {
  width: 43.5vw;
  margin-right: 1.5vw;
}

/* search */
#search-input-flex {
  display: flex;
}

.search-form-and-select {
  min-height: 10vh;
}

#search-input {
  width: 43.5vw;
  height: 3.5vh;
  box-sizing: border-box;
  padding: 0;
  margin-bottom: 1vh;
  border-radius: 0;
  border: dashed 2px black;
}

#search-btn {
  width: 43.5vw;
  height: 3.5vh;
  padding: 0;
  margin: 0;
  color: white;
  background: black;
  font-size: 1.5vw;
  letter-spacing: 0.3vw;
  font-weight: bold;
}

#search-select {
  width: 43.5vw;
  height: 3.5vh;
  border-radius: 0;
}

.search-option {
  width: 43.5vw;
  height: 3.5vh;
}

/* today-weather */
#today-information-wrapper {
  display: flex;
  justify-content: space-between;
  height: 25vh;
}

#today-weather-left h3 {
  text-align: left;
  font-size: 4vw;
  line-height: 6vh;
  margin-top: 0;
  margin-bottom: 1vh;
}

#today-weather-left p {
  text-align: left;
}

#cityname-wrapper {
  height: 11vh;
}

.country-state-name {
  margin-top: 0.8vh;
  margin-bottom: 0.8vh;
}

.today-sunrise-sunset-current {
  margin-top: 0vh;
  margin-bottom: 0vh;
}

.today-weather-right {
  width: 20vw;
}

/* top-right */
#top-part-right {
  margin-left: 1.5vw;
  height: 35vh;
}

#today-report-icon {
  width: 8vw;
  margin-top: 1vh;
  margin-bottom: 1.5vh;
}

.today-weather-tmp-feel {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5vw;
  width: 20vw;
}

.font-bold {
  font-weight: bold;
}

/* daily-report */
#daily-report-section {
  height: 22vh;
  margin-top: 3vh;
}
#daily-report-wrapper {
  margin-top: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding-left: 0;
}

#daily-report-wrapper > li {
  width: calc(100% / 7);
  background-color: whitesmoke;
  margin-right: 0.5vw;
}
#daily-report-wrapper > li:last-child {
  margin-right: 0;
}

#daily-date-part {
  background-color: whitesmoke;
  padding: 0 1vw 0 1vw;
}

#daily-report-title {
  background-color: darkgray;
  margin-bottom: 0;
}
#daily-report-title > p {
  font-weight: bold;
  margin-bottom: 1vh;
  letter-spacing: 0.3vw;
}

#daily-report-wrapper h4 {
  margin-top: 0.5vh;
  margin-bottom: 1.8vh;
}

#icon-temp-info-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

#weather-tmp-part-right {
  text-align: left;
  margin-left: 1vw;
}

#daily-weather-info {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.daily-weather-tmp {
  margin-top: 0vh;
  margin-bottom: 0vh;
  font-size: 1.7vh;
}

#daily-report-icon {
  width: 4vw;
  height: 5.5vh;
}

.daily-sunrise-sunset {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.7vh;
}

/* hourly-report */
#hourly-report-section {
  height: 27vh;
  margin-top: 3vh;
}

#hourly-report-wrapper {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
}

#hourly-report-title {
  background-color: darkgray;
  margin-bottom: 0;
}

#hourly-report-title > p {
  font-weight: bold;
  margin-bottom: 1vh;
  margin-top: 1vh;
  letter-spacing: 0.3vw;
}

#hourly-report-wrapper > li {
  margin-bottom: 1vh;
  width: 7vw;
  background: whitesmoke;
}

#hourly-report-wrapper h4 {
  margin-top: 0.7vh;
  margin-bottom: 0.7vh;
  font-size: 1.8vh;
}

#hourly-report-wrapper p {
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 1.8vh;
}

#hourly-report-icon {
  width: 2.2vw;
  height: 2.5vh;
}

@media screen and (max-width: 767px) {
  #top-part {
    flex-direction: column;
  }
  .search-form-and-select {
    width: 90vw;
  }
  #search-input {
    width: 90vw;
    height: 6vh;
  }
  #search-btn {
    width: 90vw;
    height: 6vh;
    font-size: 4vw;
  }
  #search-select {
    width: 90vw;
    height: 6vh;
  }

  /* today-part */
  #today-weather-left {
    width: 45vw;
    height: 40vh;
  }

  #today-weather-right {
    width: 40vw;
  }
  #today-information-wrapper {
    width: 90vw;
    height: 30vh;
  }
  #today-report-icon {
    width: 25vw;
  }
  .today-weather-tmp-feel {
    font-size: 2.2vh;
    width: 40vw;
  }
  /* map */
  #map-part {
    display: none;
  }
  #top-part-right {
    height: 0;
  }

  /* hourly-forcast */
  #hourly-report-section {
    height: 75vh;
  }
  #hourly-report-wrapper {
    height: 75vh;
  }
  #hourly-report-wrapper > li {
    width: calc(100% / 6.5);
    height: 15vh;
    border-right: solid 0.1px white;
  }
  #hourly-report-icon {
    width: 5vw;
    margin-top: 1vh;
  }

  /* daily-report */
  #daily-report-wrapper {
    width: 90vw;
    flex-wrap: wrap;
  }

  #daily-report-wrapper > li {
    width: calc(100% / 4.2);
    margin-top: 1vh;
  }
  #daily-report-wrapper:after {
    content: "";
    display: block;
    width: calc(100% / 4);
  }
}
